@import url('https://fonts.cdnfonts.com/css/uber-move-text');

body{
    margin: 0;
    padding: 0;
    font-family: 'Uber Move Text', sans-serif;
    width:100vw;
    box-sizing: border-box;

    
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.left>:hover{
    background-color: rgb(53, 53, 53);
    padding: 10px;
    border-radius: 20px;
}
.right>:hover{
    background-color: rgb(53, 53, 53);
    padding: 10px;
    border-radius: 20px;
}
.uber{
    font-size: 25px;
}
.uber:hover{
    background-color: black;
    padding: 10px;
}
.head{
    background-color: black;
   
}

.header{
    
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 200;
    gap: 470px;
    max-width: 1800px;
    margin: auto;
   
}


.header-left,
.header-right{
    display: flex;
    gap: 10px;
    padding: 10px 60px;
    align-items: center;
    font-size: 80%;
    
    
}
.sign-up{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.sign-up:hover{
    background-color: rgb(224, 224, 224);
    padding: 10px;
}
.main{
    background-color: black;
    margin-top: -20px;
    padding: 80px 30px 60px 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: white;
   
    
}
.main-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    max-width: 500px;
}
.prices{
    background-color: white;
    color: black;
    max-width: fit-content;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 18px;
    padding: 15px 20px;
    text-align: center;
   
}
.prices:hover{
    background-color: whitesmoke;
    color: black;
    max-width: fit-content;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 18px;
    padding: 15px 20px;
    text-align: center;
    
}
input{
    padding: 15px 23px;
    border: none;
    border-radius: 8px;
    width: 350px;
    
    
}
.sugg{
    padding: 0;
}
.box:hover{
    background-color: rgb(201, 201, 201);
}
input:focus{
    border:none;
}

.go{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}
.request{
    margin: 10px;
}



.box{
    color: black;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
}
.sec{
    display: flex;
    flex-direction: column;
    margin: 30px auto 90px auto;
    max-width: 1140px;
   
   
}
.boxes{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    max-width: 1140px;
    margin: auto;

}


.boxes div{
    background-color: rgb(238, 238, 238);
    display: flex;
    padding: 2.5px 5px;
    width: 100%;
    border-radius: 8px;
}
.ride,
.package,
.reserve{
    padding:0px;

}
.ride-left,
.package-left,
.reserve-left{
    display: flex;
    flex-direction: column;
    font-size: 75%;
    align-items:start;
  
}
.ter{
    display: flex;
    flex-direction: column;
}
.ter-1,
.ter-2,
.ter-3{
    background-color: white;
    margin-top: -20px;
    padding: 80px 100px 50px 100px;
    gap: 150px;
    display: flex;
    justify-content:center;
    color: black;
    max-width: 1140px;
    margin: auto;
    
}
.ter-1-right
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
}

.drive{
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
}

.start{
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 12px 20px ;
}
.start:hover{
    background-color: rgb(43, 43, 43);
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 12px 20px ;

}
.rent{
    font-size: 17px;
}
.acc{
    background-color: white;
    color: black;
    font-size: 17px;
    
}
.acc:hover{
    background-color: white;
    color: black;
    
}
.hori{
    margin-top: 10px;
}
.business{
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
    color: rgb(49, 49, 49);
   
}
.ter-2-right
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
}
.ter-3-right
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
    
}
.money{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
.earn{
    font-size: 17px;
}

.easy{
    background-color: rgb(238, 238, 238);
}
h2{
  
   padding: 60px 0px 30px 0px;
   font-size: 34px;
   font-weight: bolder;
   margin-bottom: 0;
   max-width: 1140px;
   margin: auto;


}

.apps{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    color: black;
    margin-top: 0px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 10px;
}
.uber-app,
.driver-app{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    gap: 5px;
    padding: 20px 30px 20px 20px;
    
}

.uber-app-text,
.driver-app-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}
.footer{
    background-color: black;
    color: cornflowerblue;
    padding: 5px;
    text-align: center;
}
/* tablet */
@media screen and (width<1024px) and (width>=600px) 
{
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        
    }
    .main{
        display: flex;
        flex-direction: column;
        margin-top: -90px;

    }
    body{
        width:fit-content;
    }
    
    
    .ter-1,
    .ter-3
    {
        
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0px 50px 0px 50px;
        gap: 50px;
    }
    .ter-2{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 50px;
        gap: 50px;
        
    }
    .business,
    .drive,
    .money
    {
       font-size: 52px;
       width: 100vw;
       line-height: 60px;
    }
    .main-left{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        min-width: fit-content;
    }
    input{
        padding: 15px 23px;
        border: none;
        border-radius: 8px;
        width:400px;
        
        
    }
    .header{
        gap: 50px;
        
    }
    
    .boxes{
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding: 0px 50px 0px 50px;
        
       
    }
    
    .easy{
        padding-left: 50px;
        margin-top: 50px;
    }
    .apps{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        
       padding-right: 50px;
       
    }
    .header-left,
    .header-right{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr;
        grid-auto-flow: column;
        font-size: 58%;
        
    }
    .sign-up{
        text-align: center;
        width: fit-content;
    }
    .sugg{
        text-align: left;
        height: fit-content;
       margin-left: 50px;
       padding: 0;
    
    }
    

}

/* mobile */
@media screen and (width<600px) {
    
  


}



